.popup {
    width: 400px;
    height: 370px;
    margin: 20px auto;
    /* position: fixed; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    z-index: 9999;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
  }
  
  .field{
      display: flex;
      justify-content:space-between;
      font-size: 1.5rem;
  }
  
  button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
    }
  
  .add-button{
    width: 200px;
    margin: 0 auto;
  }
    
  .popup  input {
      text-decoration: none;
      border: 1px solid black;
  }
  
  .close-button{
    width: 32px;
    height: 32px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 20px;
  }
  
  .field{
    margin: auto 25px;
  }
  
  .popup .field:first-child{
    margin-top: 40px;
  }
  
  .apply-button{
    width: 200px;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
    color: #4CAF50;
  }
  